__pycache__/
venv/
test/

# DB
/DB/silverNews.db
/DB/silverNews.db.back

# audio
/audio/

#video
/video/

#saved articles file
/saved_articles/
/saved_articles_kr/
/saved_articles_json/
/saved_articles_back/
/saved_articles_kr_back/
/saved_articles_json_back/

#env
.env


git commit -m "refactor: unify news crawling call structure to use run_crawler.py" -m "Updated ChromeDriver path to use absolute resolution for Streamlit compatibility." -m "feature: add json file for saved articles"
