__pycache__/
venv/
test/

#saved articles file
saved_articles/
saved_articles_kr/
saved_articles_json/


#env
.env


git commit -m "refactor: unify news crawling call structure to use run_crawler.py" -m "Updated ChromeDriver path to use absolute resolution for Streamlit compatibility." -m "feature: add json file for saved articles"
